<h2>Results index</h2>

<table class="table table-hover table-inverse">
    <body>
      <% @range.each do |tweet| %>
        <tr>
          <td><%= tweet.body %></td>
          <td><%= tweet.author %></td>
          <td><%= tweet.instrument %></td>
        </tr>
      <% end %>
    </body>
</table>